h1{
    font-size: 2.4rem;
    text-align: center;
    color: black;
    margin-bottom: 5rem;
    justify-content: center;
    padding: 0px;
}


.choice-container{
    display: flex;
    margin-bottom: 0.5rem;
    width: 100%;
    border-radius: 4px;
    background-color: rgb(102, 50, 185);
    font-size: 1.9rem;
    border: 0.1rem solid rgba(248, 249, 250, 0.25);
    
}

.choice-container:hover{
    cursor: pointer;
    box-shadow: 0 0.04rem 1.4rem 0 rgba(225, 223, 228, 0.5);
    transform: translateY(-0.1rem);
    transition: transform 150ms;
}

.choice-prefix{
    padding: 1.5rem 2.5rem;
    background-color: rgb(102, 50, 185);
    color: white;
}

.choice-text{
    padding: 1.5rem;
    color: white;
    width: 100%;
   
}
